BOT_TOKEN=123456:Your-TokEn_ExaMple
ADMINS=123456789,987654321
USE_REDIS=True

POSTGRES_USER=someusername
POSTGRES_PASSWORD=postgres_pass12345
POSTGRES_DB=bot
DB_HOST=pg_database

FRONTEND_URL=https://example.com

REDIS_HOST=redis_cache
REDIS_PORT=6388
REDIS_DB=1
REDIS_PASSWORD=someredispass