.html {
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
  font-weight: $font-weight-regular;
  color: $tg-theme-text;
  background-color: $tg-theme-button;
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100%;
  background: var(--tg-theme-bg-color);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.body {
  padding: 0;
  margin: 0;

  p,
  h1 {
    margin: 0;
    padding: 0;
  }
}


