.patient-information {
  @include padding;
    height: 800px;
  &__header {
    position: relative;
    margin-bottom: 40px;

    &::after {
      content: "";
      position: absolute;
      margin-bottom: -20px;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: $tg-theme-text;
      opacity: 0.3;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 13px;

    &__label {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      gap: 10px;
      font-family: "Josefin Sans", sans-serif;
      font-size: 14px;
      font-weight: $font-weight-semibold;
      line-height: 119%;
      color: $tg-theme-hint;
      text-transform: capitalize;
    }

    &__input {
      font-family: "Josefin Sans", "Open Sans", sans-serif;
      font-size: 16px;
      color: $tg-theme-text;
      height: 45px;
      border-radius: 20px;
      border: none;
      background: $tg-theme-secondary-bg;
      box-shadow: $tg-theme-secondary-bg;
      padding-inline: 15px;
    }

    &__textarea {
      font-family: "Josefin Sans", sans-serif;
      color: $tg-theme-text;
      font-size: 16px;
      height: 120px;
      border-radius: 20px;
      border: none;
      background: $tg-theme-secondary-bg;
      box-shadow: $tg-theme-secondary-bg;
      margin-bottom: 40px;
      resize: vertical;
      min-height: 50px;
      padding-inline: 15px;
      padding-block: 15px;
    }

    &__button {
      @include displayFlex(center, center, row);

      gap: 10px;
      text-decoration: none;
      background: $tg-theme-button;
      box-shadow: $color-box-shadow;
      color: $tg-theme-button-text;
      font-size: 17px;
      font-weight: $font-weight-bold;
      border-radius: 30px;
      padding: 15px 0;
      width: 100%;

      &:hover {
        filter: brightness(1.05);
      }
    }

    .arrow {
      display: flex;
      align-items: center;
      width: 12px;
      height: 12px;
    }
  }
}
