.registration-confirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 30px;
  padding-top: 20px;
  padding-bottom: 35px;
  gap: 5px;

  &__logo {
    display: block;
    margin-bottom: 42px;
    &__img {
      object-fit: contain;
      object-position: center;
      width: 100%;
      height: 150px;
    }
  }

  &__title {
    color: $tg-theme-hint;
    font-size: 37px;
    font-weight: $font-weight-bold;
    text-align: center;
    line-height: 119%;
  }

  &__text {
    font-size: 15px;
    font-weight: $font-weight-regular;
    text-align: center;
    line-height: 119%;

  }

  .arrow-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 10px;
      background: $tg-theme-button;
      box-shadow: $color-box-shadow;
      color: $tg-theme-bg;

    font-size: 18px;
    font-weight: $font-weight-bold;
    border-radius: 45px;
    padding: 15px 0;
    width: 200px;
    margin: 22px auto 27px;

    &:hover {
      filter: brightness(1.05);
    }
  }

  .button-second {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $tg-theme-button;
    font-size: 18px;
    font-weight: $font-weight-bold;
    margin-bottom: 80px;

    &:hover {
      filter: brightness(1.05);
    }
  }
}