.resume {
  @include padding;

  &__header {
    position: relative;
    margin-bottom: 40px;

    &::after {
      content: "";
      position: absolute;
      margin-bottom: -20px;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: $color-address;
      opacity: 0.3;
    }
  }

  &__blocks {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    position: relative;

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        margin-bottom: -20px;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: $color-address;
        opacity: 0.3;
      }
    }

    &__text {
      color: $color-label;
      font-size: 10px;
      font-weight: $font-weight-semibold;
      line-height: 119%;
      margin-bottom: 15px;
      margin-left: 15px;

      &--color-dark {
        color: $color-primary;
        margin-top: 5px;
        margin-left: 15px;
      }
    }

    &__title {
      color: $color-primary;
      font-size: 19px;
      font-weight: $font-weight-bold;
      line-height: 119%;
      margin-left: 15px;

      &--font-regular {
        font-weight: $font-weight-regular;
      }
    }

    &__link {
      color: $color-primary;
      font-size: 12px;
      font-weight: $font-weight-semibold;
      line-height: 119%;
      margin-top: 5px;
      margin-left: 15px;
      text-decoration: none;

    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      gap: 4px;
      background: $color-primary;
      color: $color-button-text;
      font-size: 11px;
      font-weight: $font-weight-bold;
      border-radius: 26px;
      padding: 4px 0;
      width: 80px;
      margin-left: 15px;
      margin-top: 10px;
      margin-bottom: 17px;
    }
  }

  &__doctor {
    display: flex;
    font-display: row;
    align-items: center;
    gap: 15px;
    margin-left: 15px;

    &__image {
      width: 57px;
      height: 57px;
      object-fit: cover;
      border-radius: 12px;
    }

  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    background: $color-gradient;
    box-shadow: $color-box-shadow;
    color: $color-button-text;
    font-size: 17px;
    font-weight: $font-weight-bold;
    border-radius: 30px;
    padding: 15px 0;
    width: 100%;
    margin-top: 20px;

    &:hover {
      filter: brightness(1.05);
    }
  }

  .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;

    &__title {
      display: flex;
      flex-direction: row;
      gap: 6px;
      margin-bottom: 9px;
    margin-left: 15px;

      &__icon {
        width: 8px;
        height: 12px;
        object-fit: cover;
      }

      &__text {
        font-size: 14px;
        font-weight: $font-weight-bold;
        line-height: 119%;
      }
    }

    &__text {
      font-size: 12px;
      font-weight: $font-weight-regular;
      line-height: 119%;
      margin-bottom: 8px;
    margin-left: 15px;

      &--color-light {
        color: $color-about-available;
      }
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      gap: 4px;
      background: $color-primary;
      color: $color-button-text;
      font-size: 10px;
      font-weight: $font-weight-bold;
      border-radius: 26px;
      padding: 5px 0;
      width: 80px;
    }
  }
}