.search-bar {
  @include displayFlex(center, center, row);

  margin-bottom: 15px;
  position: relative;
  margin-top: 20px;

  &__input {
    border-radius: 31px;
    border: 1px solid $tg-theme-secondary-bg;
    background: $tg-theme-secondary-bg;
    width: 100%;
    font-size: 14px;
    font-weight: $font-weight-semibold;
    padding: 10px 0 10px 20px;
    outline: none;
    color: $tg-theme-text;
  }

  &__icon {
    position: absolute;
    top: 13px;
    right: 35px;
    cursor: pointer;

    &__img {
      width: 14px;
      height: 14px;

      stroke: $tg-theme-hint;
      fill: none;
    }
  }
}

input::placeholder {
  color: $tg-theme-hint;
}
