.specialization {
  @include padding;

  &__header {
    margin-bottom: 20px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .specialization-block {
      @include hoverScaleTranslate;
      display: flex;
      flex-direction: column;
      gap: 15px;
      border-radius: 12px;
      border: 1px solid $tg-theme-secondary-bg;
      background: $tg-theme-secondary-bg;
      padding-block: 20px;
      padding-left: 23px;
      color: $tg-theme-text;

      &__title {
        font-size: 20px;
        font-weight: $font-weight-bold;
        line-height: 119%;
      }

      &__subtitle {
        font-size: 16px;
        line-height: 119%;
      }

      &--active {
        background: $color-gradient;
        border: none;
        color: $tg-theme-button;

        .specialization-block__subtitle {
          color: $tg-theme-button;
        }
      }
    }
  }
}

