$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

//$tg-theme-text: black;
//--tg-theme-link-color: #AFA1D6;
//$tg-theme-secondary-bg: #A289DB;
//$tg-theme-hint: #C4C4C4;
//$tg-theme-button: #FFF;
//$color-search-input: #686868;
//$color-review: #525252;
//$color-address: #7F7F7F;
//$color-about-available: #929292;
//$color-weekdays: #A48FDF;
//$tg-theme-secondary-bg: #F5F5F5;
//$color-gradient: linear-gradient(108deg, #e68dcb 12.69%, #8A6CDF 86.2%);
$color-gradient: linear-gradient(108deg, rgba(255, 255, 255, 0.9) 12.69%, rgba(255, 255, 255, 0.9) 86.2%);
//$color-gradient-hover: linear-gradient(108deg, rgba(230, 141, 203, 0.63) 12.69%, rgba(138, 108, 223, 0.45) 86.2%);
$color-gradient-hover: linear-gradient(108deg, rgba(255, 255, 255, 0.8) 12.69%, rgba(255, 255, 255, 0.8) 86.2%);
$color-box-shadow: 0px 15px 20px 0px var(--tg-theme-secondary-bg-color);
$color-gradient-sections: linear-gradient(163deg, var(--tg--theme-bg-color) 1.16%, rgba(var(--tg-theme-bg-color), 0.98) 69.31%);
//$color-gradient-sections: linear-gradient(163deg, #FDFFFA 1.16%, #F3EEFF 69.31%);
$color-border: #BFBFBF;
$color-box-shadow-form: 0px 7px 15px 0px rgba(184, 139, 206, 0.20);

$tg-theme-bg : var(--tg-theme-bg-color, #FDFFFA);
$tg-theme-button-text: var(--tg-theme-button-text-color);

$tg-theme-text: var(--tg-theme-text-color, black);
$tg-theme-hint: var(--tg-theme-hint-color, #C4C4C4);
$tg-theme-link: var(--tg-theme-link-color, #AFA1D6);
$tg-theme-button: var(--tg-theme-button-color, #FFF);

$tg-theme-secondary-bg: var(--tg-theme-secondary-bg-color, #A289DB);

$color-search-input: var(--tg-theme-secondary-bg-color, #686868);


// New SCSS Variables
$color-border-white: white;
$color-background-FF3A27: #FF3A27;
$color-background-FF9788: #FF9788;
$color-background-77ACDE: #77ACDE;
$color-border-E2E2E2: #E2E2E2;
$color-border-E2E2E2: #E2E2E2;
$color-background-BAE9F7: #BAE9F7;

